@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --background: #0B3D2E;
  --forest: #37410f;
  --text: #ecf8f5;
  --primary: #E6F2F0;
  --secondary: #F28AB2;
  --accent: #17f3b1;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--primary);
  --font-sans: var(--font-inter);
  --font-tight: var(--font-geist-tight);
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
}}

body {
  background: var(--background);
  color: var(--text);
  font-family: Inter, Arial, Helvetica, sans-serif;
}

@keyframes smooth-bounce {
  0%, 100% { transform: translateY(0) scaleY(0.9); }
  50% { transform: translateY(-5px) scaleY(1); }
}

.arrow-animation {
  animation: smooth-bounce 1.5s infinite;
  animation-play-state: paused;
  transition: transform 0.3s ease-out;
}

.hero_button_group:hover .arrow-animation {
  animation-play-state: running;
}

.hero_button_group:hover button {
  font-weight: bold;
}

#image-track > .slider-image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: center;
  transition: object-position 0.7s cubic-bezier(0.33, 1, 0.68, 1);
}

#image-track {
  transition: transform 0.7s cubic-bezier(0.33, 1, 0.68, 1); 
  display: flex;
  gap: 4vmin;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(0%, -50%);
}